.image-avatar {
    height: 50px;
}

.cast-name {
    padding: 0 20px;
}

.cast-item:nth-child(2n) {
    background-color: rgba(0,0,0,.03);
}
.divider-dots {
    display: none;
}

@media screen and (min-width: 768px) {
    .divider-dots {
        display: initial;
    }
}