.logo-alpha {
    text-transform: uppercase;
    color: #28587B;
}

.logo-omega {
    text-transform: uppercase;
    color: #E2DCDE;
}

.header-sizing {
    padding-left: inherit;
    padding-right: inherit;
}

@media screen and (max-width: 576px) {
    .header-sizing {
        padding-left: 0px;
        padding-right: 0px;
    }
}