.movie-info {
    padding: 20px;
}

.badge-size {
    font-size: 100%;
}

.title-bar {
    padding: 10px;
}

.main-div {
    background-size: cover;
    background-repeat: no-repeat;
}

.block {
    display: block;
    text-decoration: none;
    color: inherit;
    
}

.block:hover {
    text-decoration: none;
    color: inherit;
}

.bg-header {
    background-color: #E2DCDE;
}

.genre-format {
    background-color: white;
    color: inherit;
}

.card-header {
    padding: 0;
}

.drop-pad-head {
    padding: .75rem 1.25rem;
}
/* 
.mb-0, .my-0 {
    margin-bottom: inherit;
} */